button {
  background-color: #a07102;
  color: #fff;
  border: 0;
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
}

button:hover {
  background-color: #785604;
  transition: .3s;
}

button:focus {
  background-color: #bb8404;
}

.focus {
  margin-right: 20px;
}

.button-holder {
  text-align: center;
  padding: 30px;
}

.input-holder {
  display: block;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}

input {
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 30px;
}

ul,
li {
  list-style: none;
  font-size: 25px;
}

.holder-list ul {
  border: 1px solid #000;
  border-radius: 10px;
  display: inline-block;
  padding: 30px 60px;
}
